@import url(http://fonts.googleapis.com/css?family=Nova+Square);
@import url(http://fonts.googleapis.com/css?family=Work+Sans);



h1, h3 {
	font-family: Nova Square, cursive;
	color: #e23045;
}

h2 {
    font-family: Nova Square, cursive;
    color: #fcead6;
    background-color: #e23045;
}

body {
    background-color: #eee;
    font-size: 12pt
}

p,a {
    font-family: "Work Sans";
}

h3 {
    background-color: #1B4549;
    color: #fcead6
}

h1, h2 {
    font-size: 24pt
}