@import url(http://fonts.googleapis.com/css?family=Nova+Square);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #EEEEEE;
}

.page-wrapper {
	display: block;
	margin: 0 auto;
	width: 690px;
	padding-bottom: 80px;
}

article {
	box-shadow: 40px 50px 0 0 #71AEAB;
}

/* TEXT */

h1, h2, h3 {
	font-family: 'Nova Square', cursive;
}

h1 {
	color: #E23045;
	font-size: 3em;
	padding: 80px 0 30px;
}

h2 {
	color: #FFF6E0;
	font-size: 2em;
	background-color: #E23045;
	padding: 5px;
}

h3 {
	color: #000;
	padding: 5px 0;
}

p {
	padding: 8px 0;
}

a {
	color: #E23045;
}

/* INTRO */ 

.preamble {
	background-color: #1B4549;
	color: #FFF6E0;
	padding: 20px 10px;
	margin: 20px 0 80px;
}

.intro h3 {
	color: #FFF6E0;
}

/* MAIN */

main {
	display: inline-block;
	width: 60%;
}

main article {
	background-color: #FFF6E0;
	border: 1px solid #1B4549;
	padding: 15px 30px;
	margin-bottom: 10px;
}

/* FOOTER */

footer a {
	display: inline-block;
	background-color: #908673;
	padding: 5px;
	box-shadow: 5px 5px 0 0 #D8CFBC;
}

footer a, aside a {
	text-decoration: none;
	color: #FFF6E0;
}

footer {
	margin-top: 60px;
	text-align: right;
}

/* ASIDE */

aside {
	display: inline-block;
	vertical-align: top;
	width: 39%;
}

aside h3 {
	display: none;
}

aside a {
	display: block;
}

ul {
	padding: 5px 15px 0 60px;
	text-align: center;
}

li {
	background-color: #E23045;
	list-style-type: none;
	padding: 5px;
	margin: 0 0 5px 0;
	box-shadow: 12px 15px 0 0 #F59581;
}